/*
 * Styles for article content paragraph
 *
*/

.ucb-article-content-image {
  text-align: center;
}

.ucb-article-content-image-left img,
.ucb-article-content-image-right img {
  width: auto;
  height: 100%;
  margin: auto;
}

.ucb-article-content-image-above img,
.ucb-article-content-image-below img {
  width: 100%;
  height: auto;
  margin: auto;
}