/*
 * Styles for content grid paragraph
 *
*/

/* Overall Content Grid CSS */

.grid-fill {
  display: flex;
  overflow: hidden;
}

.grid-fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* Card Layout CSS */
.grid-card {
  border: 1px solid;
  margin-bottom: 1.5em;
}

.grid-card-text {
  padding: 1em;
}

/* Overlay Layout CSS */

.overlay-grid-image-container {
  position: relative;
  width: 100%;
}

.overlay-grid-image-container h3 {
  padding: 0 0.75rem 0.75rem 0.75rem;
  position: absolute;
  bottom: 0;
}

.overlay-grid-image-container h3.text-white {
  text-shadow: 3px 3px 3px rgb(20 20 20 / 80%);
}

/* Features Layout CSS */

.feature-grid-fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

.feature-grid-image-container {
  position: relative;
  width: 100%;
}

.feature-grid-image-container .feature-grid-text {
  padding: 0 0.75rem 0.75rem 0.75rem;
  position: absolute;
  bottom: 0;
}

.feature-grid-text.text-white h3,
.feature-grid-text.text-white p {
  text-shadow: 3px 3px 3px rgb(20 20 20 / 80%);
}

.small-feature-one {
  margin-bottom: .5em;
}

.small-feature-two {
  margin-top: .5em;
}

.small-feature-grid-image-container {
  height: 100%;
  padding: 1em;
  display: flex;
  align-items: self-end;
}

@media screen and (max-width: 975px) {
  .small-feature-grid {
    margin-top: 1em;
    padding-right: 0;
  }

  .small-feature-one {
    padding-right: 0;
  }
  
  .small-feature-two {
    margin-top: .5em;
    padding-right: 0;
  }
}
