{#
/**
 * @file
 * Theme to implement the content row's title, image, and copy
 *
 * Created by Joshua Nicholson on 12/13/21
*
#}


<div class="col grid-image-container">
    {{ content.field_row_layout_content_image|render }}
</div>
<div class="col grid-text-container flex-grow-1">
    <h3>{{content.field_row_layout_content_title|render}}</h3>
    {{content.field_row_layout_content_text|render}}
</div>