{#
/**
* @file
* Theme to implement a the teaser layout for the content grid
*
* Created by Joshua Nicholson on 12/09/21
*
#}

{# set classes for the location of the media in the component #}

{% block paragraph %}
    <div class="container">
        <div class="row d-flex align-items-center">
            {% for item in content.field_teaser_layout_content %}
                {% if item['#paragraph'].field_grid_layout_content_title.value|render %}
                    <div class="col-md-4">
                        <img itemprop="image" src="{{ file_url( item['#paragraph'].field_grid_layout_content_image.entity.field_media_image.entity.fileuri ) }}" class="grid-image" alt="{{ item['#paragraph'].field_grid_layout_content_image.entity.field_media_image.alt }}">
                    </div>
                    <div class="col-md-8">
                        <h3>{{ item['#paragraph'].field_grid_layout_content_title.value|raw }}</h3>
                        {{ item['#paragraph'].field_grid_layout_content_text.value|raw }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock paragraph %}
