{#
/**
* @file
* Theme to implement a the teaser layout for the content grid
*
* Created by Joshua Nicholson on 12/09/21
*
#}

{# set classes for the location of the media in the component #}

{% block paragraph %}
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-1 feature-grid">
			{% for key, item in content.field_features_layout_content if key|first != '#' %}
                {{ item }}
            {% endfor %}
        </div>
    </div>
{% endblock paragraph %}

