{#
/**
* @file
* Theme to implement a the teaser layout for the content grid
*
* Created by Joshua Nicholson on 12/09/21
*
#}

{% block paragraph %}
    <div {{ attributes.addClass('container') }}>
        <div class="row row-cols-lg-2 row-cols-1">
            {% for key, item in content.field_offset_layout_content if key|first != '#' %}
                    {% if (loop.index0 % 3 == 0) and ((loop.index0 is even) or (loop.index0 == 0)) %}
                        <div class="col">
                            <div class="grid-image-container-large">
                                {{ item }}
                            </div>
                        </div>
                    {% elseif (loop.index % 3 == 0) and (loop.index != 3) and (loop.index0 is odd) %} 
                        <div class="col">
                            <div class="grid-image-container-large">
                                {{ item }}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-3">
                            <div class="grid-image-container-small">
                                {{ item }}
                            </div>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock paragraph %}

{# 
  Classes to equalize using ucb-equalize-height.js
#}
<script>
	window.addEventListener("load", function () {
equalheight('.grid-image-container-small .grid-image-container article')
})
window.addEventListener("resize", function () {
setTimeout(function () {
equalheight('.grid-image-container-small .grid-image-container article')
})
})
</script>
