{#
/**
* @file
* Theme to implement a the teaser layout for the content row
*
* Created by Joshua Nicholson on 12/09/21
*
#}

{# set classes for the location of the media in the component #}

{% block paragraph %}
    <div class="container">
        {% for key, item in content.field_teaser_layout_content if key|first != '#' %}
            <div class="row row-cols-md-3 row-cols-1 d-flex align-items-center row-content">
                {{ item }}
            </div>
        {% endfor %}
    </div>
{% endblock paragraph %}

