{#
/**
 * @file
 * Theme to implement the content grid's title, image, and copy
 *
 * Created by Joshua Nicholson on 12/13/21
*
#}
{% set titleTextColor = paragraph.field_text_color.value %}

<div class="overlay-grid-image-container grid-fill">
    {{ content.field_overlay_layout_image|render }}
    <h3 class={{titleTextColor}}>{{content.field_grid_layout_content_title|render}}</h3>
</div>
<div class="overlay-grid-text">
    {{content.field_grid_layout_content_text|render}}
</div>